/*@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

@font-face {
  font-family: 'pulsa';
  src:  url('../fonts/pulsa.eot?uy4jq5');
  src:  url('../fonts/pulsa.eot?uy4jq5#iefix') format('embedded-opentype'),
    url('../fonts/pulsa.ttf?uy4jq5') format('truetype'),
    url('../fonts/pulsa.woff?uy4jq5') format('woff'),
    url('../fonts/pulsa.svg?uy4jq5#pulsa') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pulsa' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: none;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
  content: "\e900";
  color: #0ef51f;
}
.icon-arrow-down:before {
  content: "\e901";
  color: #f50e39;

}
.icon-pencil2:before {
  content: "\e906";
  margin: .5em;

}
.icon-star-full:before {
	color: #e1e86f;
  content: "\e9d9";
  margin-right: .4em


}

a{
	color: #22BCE0;
}

body{
	background: #EEEEEE;
	font-family: "Open Sans";
	font-size: 16px;
}

footer{
	background: #22BCE0;
	color: rgba(255,255,255,.7);
	padding: 1em;
	text-align: center;
}

footer p:first-child{  
	/*border: 1px solid red;*/
	margin-bottom: 0;
}


footer p:last-child{
	margin-top: 0;
}

footer p:last-child:after{
	content: " -";
}

footer p:last-child:before{
	content: "- ";
}
/*Acomodamos los elementos del header con float y positionn*/
header{
	background: #343B54;
	color: white;
	overflow: hidden;
	padding: .5em;
	position: relative;
}

header div{
	float: left;
}

header h1{
	/*border: 1px solid red;*/
	font-size: 1.2em;
	font-weight: normal;
	margin: 0 70px 0 70px;
}
/*psition absolut reinicia sus valores de top y left a 0, por defecto hhace referencia al body
si le ponemos position relative a otra caja tomara como referencia la caja que tienen 
el relative

position relative: agrega 4 valores (top,left, rigth down) a la caja y empuja o mueve todo */
header #avatar{
	margin: .5em .5em 0 0;
	position: absolute;
	right: 0;
	top: 0;
}

header #avatar img{
	border-radius: 50%;
	width: 55px;
}

#logo{
	border-right: 1px solid white;
}

header #logo img{
	/*padding-right:.5em;*/
	margin-right: .5em;
	width: 52px;
}

header #logo img:hover{
	transition: .5s;
	transform:rotate(360deg);

}

nav{
	/*text-align: center;*/
	background: #80BCA3;
	box-shadow: rgba(0,0,0,.5)0 0 10px;
	padding: 0 6em 0 0;
	position: relative;
}   

nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul #publicar{
	/*border: 1px solid yellow;*/
	position:absolute;
	top: -.4em;
	right: 0;
}

nav ul #publicar a{
	border-radius: .5em;
	/*border: 1px solid red;*/
	background: #22BCE0;
	box-shadow: rgba(0,0,0,.5) 5px 5px 20px;
	font-style: italic;
	padding: .8em .8em .8em 0;
	text-decoration: none;
	/*color, desplazamiento en x, desplazamiento en y, difuminacion*/
	text-shadow: rgba(0,0,0,.5) 2px 2px 5px;
}

nav ul #publicar a:hover:before{
	font-size:1.1em;
}


nav ul li{
	/*border: 1px solid red;*/
	display: inline-block;
	/*margin: 0 1em 0 0;*/
}

nav ul li a{
	color: white;
	display: block;
	padding: .5em .5em;
	transition: .3s;
}

nav ul li a:hover{
	background: black;
}

aside{
	display: none;
}

#contenido{
	margin: 1em;
}

#contenido .item{
	background: white;
	border-bottom: 3px solid #22BCE0;
	margin-bottom: 2em;
	min-height: 128px;
	/*overflow: hidden;*/
	position: relative;
}

#contenido .item .autor_item{
	color: #CCC;
}

#contenido .item .datos_item{
	margin: 1em 1em 0 0;
	text-align: right;

}

#contenido .item .datos_item{
	color: #AAA;
}

#contenido .item .datos_item .tag_item{
	background: #F4502A;
	border-radius: .5em;
	color: white;
	float: left;
	padding: .2em .5em;
	text-decoration: none;
}

#contenido .item #imagen_item{
	float: left;
	margin: 0 1em 0 0;

}

#contenido .item #imagen_item img{
	width: 96px;
}

#contenido .item .titulo_item{
	font-size: 1.2em;
	font-style: italic;
	padding: 1em 1em 0 0;
}

#contenido .item .titulo_item a{
	color: #444;
	text-decoration: none;

}

#contenido .item .votacion{
	background: white;
	border-radius:0 0 .5em .5em;
	left: 10%;
	margin: 4px;
	position: absolute;
	top: 100%;
	width:80%;
}

#contenido .item .votacion .cometarios_item,
#contenido .item .votacion .guardar_item{
	float: right;
}

@media(min-width: 1000px){
	
	aside{
		display: inline-block;
		width: 20%;
	}
	video{
		width: 100%;
	}
	
	#contenido{
		display: inline-block;
		width: 76%;
	}

	#contenido .item .titulo_item{
		font-size: 1em;
		padding: 0;
	}

}

@media(min-width: 800px){ /*de 800px para arriba se aplican estos cambios*/
	
	.item{
		display:inline-block;
		vertical-align: top;
		width:49%;
	}

	#contenido .item:nth-child(odd){ /*Si no pongo la ruta #contenido .item completa no me aplica el cambio, este seudo elemeto solo se coloco para que el margen derecho solo se aplicar a los items impares*/
		margin-right:.2em;
	}
}

@media(max-width: 480px){ /*abjo de 468 se aplica esto*/
	
	#contenido .item #imagen_item img {
    width: 76px;
	}

	#contenido .item .titulo_item{
	font-size: .8em;
	font-style: italic;
	margin-top: 0;
	padding: .8em 0 0 0;
	}



}