a{
	color: #22BCE0;
}

body{
	background: #EEEEEE;
	font-family: Arial;
	font-size: 16px;
}

footer{
	background: #22BCE0;
	color: rgba(255,255,255,.7);
	padding: 1em;
	text-align: center;
}

footer p:first-child{
	/*border: 1px solid red;*/
	margin-bottom: 0;
}


footer p:last-child{
	margin-top: 0;
}

footer p:last-child:after{
	content: " -";
}

footer p:last-child:before{
	content: "- ";
}
/*Acomodamos los elementos del header con float y positionn*/
header{
	background: #343B54;
	color: white;
	overflow: hidden;
	padding: .5em;
	position: relative;
}

header div{
	float: left;
}

header h1{
	/*border: 1px solid red;*/
	font-size: 1.2em;
	font-weight: normal;
	margin: 0 70px 0 70px;
}
/*psition absolut reinicia sus valores de top y left a 0, por defecto hhace referencia al body
si le ponemos position relative a otra caja tomara como referencia la caja que tienen 
el relative

position relative: agrega 4 valores (top,left, rigth down) a la caja y empuja o mueve todo */
header #avatar{
	margin: .5em .5em 0 0;
	position: absolute;
	right: 0;
	top: 0;
}

header #avatar img{
	border-radius: 50%;
	width: 55px;
}

header #logo img{
	border-right: 1px solid white;
	margin-right: .5em;
	padding-right:.5em;
	width: 52px;
}

nav{
	/*text-align: center;*/
	background: #80BCA3;
	/*padding: .5em 0;*/
	position: relative;
}   

nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul #publicar{
	/*border: 1px solid yellow;*/
	position:absolute;
	top: -.4em;
	right: 0;
}

nav ul #publicar a{
	border-radius: .5em;
	/*border: 1px solid red;*/
	background: #22BCE0;
	box-shadow: rgba(0,0,0,.5) 5px 5px 20px;
	font-style: italic;
	padding: .8em;
	text-decoration: none;
	/*color, desplazamiento en x, desplazamiento en y, difuminacion*/
	text-shadow: rgba(0,0,0,.5) 2px 2px 5px;
}

nav ul li{
	/*border: 1px solid red;*/
	display: inline-block;
	/*margin: 0 1em 0 0;*/
}

nav ul li a{
	color: white;
	display: block;
	padding: .5em .5em;
}